.operation-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  align-items: center;
  justify-content: center;
  bottom: 40px;
  z-index: 2;
  padding-top: 20px;
  user-select: none;
  -webkit-user-select: none;
  /*禁用手机浏览器的用户选择功能 */
  -moz-user-select: none;
}
.operation-container .btn-container {
  align-items: center;
}
.operation-container .btn-container .common-btn {
  flex: 0 0 54px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: rgba(10, 122, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.operation-container .btn-container .common-btn:active {
  background-color: rgba(10, 122, 255, 0.8);
}
.operation-container .btn-container span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}
.operation-container .start-container {
  justify-content: center;
}
.operation-container .start-container .btn-container + .btn-container {
  margin-left: 35px;
}
.operation-container .drop-container {
  align-items: center;
  justify-content: center;
}
.operation-container .drop-container .btn-container .common-btn {
  flex: 0 0 90px;
  width: 90px;
  height: 90px;
}
.operation-container .right-container {
  flex: 0 0 210px;
  width: 210px;
  padding-left: 30px;
}
.operation-container .right-container .direction-item {
  align-items: center;
  justify-content: center;
}
.operation-container .right-container .direction-item .btn-container:nth-child(n + 2) {
  margin-left: 70px;
}
.operation-container .right-container .direction-item .btn-container {
  position: relative;
}
.operation-container .right-container .direction-item .btn-container span {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}
.operation-container .right-container .btn-container .common-btn {
  flex: 0 0 54px;
  width: 54px;
  height: 54px;
}
video {
  top: 15% !important;
  height: 73% !important;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.ar-main {
  position: absolute;
  left: 0;
  top: 15% !important;
  width: 100%;
  height: 73% !important;
  overflow: hidden;
}
.tetris-container {
  /* 作为背景 */
  /* 顶部 */
  /* 底部 */
  /* 弹窗 */
}
.tetris-container .bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.tetris-container .tetris-header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 15%;
  min-height: 80px;
  background-color: #27896c;
  border-bottom: 3px solid #272727;
  overflow: hidden;
}
.tetris-container .header-content {
  width: 100%;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 30px 10px;
  position: relative;
}
.tetris-container .header-content .row-line {
  height: 100%;
  width: 26px;
  background-color: #efa052;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
  position: absolute;
  left: 64px;
  top: 0;
}
.tetris-container .header-content .col-line {
  width: 100%;
  height: 26px;
  background-color: #efa052;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  position: absolute;
  left: 0;
  bottom: 16px;
}
.tetris-container .header-content .top-info {
  background-color: #efa052;
  border: 3px solid #000000;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 1;
  /* 顶部图标 */
  /* 顶部文本 */
}
.tetris-container .header-content .top-info .top-icon {
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.tetris-container .header-content .top-info .top-text {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  margin-left: 8px;
}
.tetris-container .tetris-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 12%;
  background-color: #27896c;
  min-height: 70px;
}
.tetris-container .down-icon {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.tetris-container .down-icon .col-line {
  width: 100%;
  height: 26px;
  background-color: #efa052;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.tetris-container .default-btn {
  background-color: transparent;
  border: 0px;
  width: 98px;
  height: 53px;
  z-index: 1;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.3s;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
.tetris-container .default-btn:hover,
.tetris-container .default-btn:active,
.tetris-container .default-btn:focus,
.tetris-container .default-btn:visited {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}
.tetris-container .default-btn:active {
  transform: scale(0.96);
}
.tetris-container .default-btn img {
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
  user-select: none;
}
.tetris-container .popup-mask {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tetris-container .popup-mask.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.tetris-container .popup-mask.is-visible .popup-container {
  transform: translateY(0);
}
.tetris-container .popup-mask .popup-container {
  transform: translateY(-30px);
  transition-property: transform;
  transition-duration: 0.3s;
}
.tetris-container .game-modal {
  width: 275px;
}
.tetris-container .game-modal .model-bg {
  width: 100%;
}
.tetris-container .game-modal .default-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.tetris-container .game-modal .start-btn {
  left: 30px;
  width: 215px;
}
.tetris-container .game-modal .again-btn {
  left: 148px;
}
